.workspace{
    height: calc(100vh - 100px);
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    .btn-header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .insumosGroup{
        overflow-y: scroll;
    }
}