.insumoList {
    width: 100%;
    height: calc(100vh - 180px);

    .tabsFiltred {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 30px;

        .tab {
            padding: 0 10px;
            border: 1px solid rgb(155, 155, 155);
            border-bottom: none;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            background: #fff;
            margin: 0 2px;
        }
        .active {
            background: #ebebeb;
        }
    }

    .insumosTable {
        width: 100%;
        height: calc(100% - 80px);
         
        .tableInsumo {
            thead {
                
                position: sticky;
                top: 0;
                background: #fff;
            }

            tbody {
    overflow-y: scroll;

                text-align: center;
                font-size: 12px;
                tr {
                    .clave {
                        width: 10%;
                    }
                    .descripcion {
                        width: 40%;
                        text-align: left;
                    }
                    .unidad {
                        width: 10%;
                    }
                    .precio {
                        width: 10%;
                    }
                    .categoria {
                        width: 15%;
                    }
                    .actions {
                        width: 15%;
                        // display: flex;
                        // flex-direction: row;
                        // justify-content: space-evenly;
                        // width: 100%;
                        // height: 100%;
                        font-style: normal;
                        a {
                            margin: 0 5px;
                            cursor: pointer;
                        }
                    }
                }
                tr:hover {
                    background-color: #ddd;
                }
                td:hover {
                    background-color: rgb(241, 241, 241);
                }
            }
        }
    }
}
