.fscGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    .input {
        width: 18%;
        margin: 0 auto;
        input[type="number"] {
            -moz-appearance: textfield;
            border: 1px solid #0000004b;
            text-align: center;
            background-color: #ff000000;
            width: 80%;
            padding: 3px;
            cursor: pointer;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .financiamiento{
        width: 26%;
    }
}
