.asideModal {
    position: fixed;
    top: 50px;
    right: 0;
    // width: 50vw;
    max-width: 80vw;
    height: calc( 100% - 50px);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);

    transition: transform 0.3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
    z-index: 2;

    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        margin: 6px auto 10px;     
        h3 {
            margin: 10px 20px 10px;
            // padding: 5px 10px;
            font-size: 20px;
            

        }
        .closeIconBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;

            border: 1px solid black;
            // background: white;
            border-radius: 50%;
            margin: 0 10px 0 0;
            cursor: pointer;
            :hover {
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }
    .body {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.spread {
    transform: translate(0);
}
