


.explosionInsumos{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .chart{
        width: 25%;

        // border: 1px solid black;
    }

    .listadoInsumos{
        width: 75%;
    }
}