.workspaceExplosionInsumos{
    width: 85%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .explotarBtn{
        margin-right: 20px;
        border-radius: 15px;
        border: 1px solid black;
        background: none;
    }
    .active{
        background: #000;
        color: white;
    }

}

.explosionInsumos{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    .chart{
        width: 25%;

        // border: 1px solid black;
    }

    .listadoInsumos{
        width: 75%;
    }
}