.Presupuesto{
    table{
        width: 100%;
        text-align: center;
        .clave{
            width: 10%;
        }
        .descripcion{
            width: 40%;
        }
        .unidad{
            width: 8%;
        }
        .precioUnitario{
            width: 10%;
            
        }
        .cantidad{
            width: 10%;
            input{
                width: 80%;
            }
        }
        .total{
            width: 10%;
        }
        .actions{
            width: 10%;
            a{ margin: 0 10px;}
        }
        td{
            border: 1px solid black;
        }
    }
}